{% extends 'app.html' %}
{% block content %}
  <h1>Post</h1>
  <form id="app" ref="form" @submit="checkForm" method="post" action="">
    {% csrf_token %}
    <div style="margin-top: 20px;">
      <div v-for="error in errors" class="alert alert-danger" role="alert">
        [[ error ]]
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputTitle" class="form-label">Title</label>
      <input type="text" class="form-control" id="exampleInputTitle" name="title" v-model="title">
    </div>
    <div class="mb-3">
      <label for="exampleInputDescription" class="form-label">Description</label>
      <input type="text" class="form-control" id="exampleInputDescription" name="description" v-model="description">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
  <script>
    const app = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
      data: {
        errors: [],
        title: null,
        description: null
      },
      methods: {
        checkForm: function (e) {
          if (this.title.length < 25 && this.title.length > 5 &&
              this.description.length < 255 && this.description.length > 5 ){
            return true;
          }
          this.errors = [];
          if (this.title.length < 5) {
            this.errors.push('Title is very short');
          }
          if (this.title.length > 25) {
            this.errors.push('Title is very long');
          }
          if (this.description.length < 5) {
            this.errors.push('Description is very short.');
          }
          else {
            if (this.description.length > 255) {
              this.errors.push('Length of description is over 255.');
            }
          }
          e.preventDefault();
        }
      }
    })
  </script>
{% endblock %}
