{% extends 'app.html' %}
{% block content %}
  <h1>Create post</h1>
  <form id="app" ref="form" @submit="checkForm" method="post">
    {% csrf_token %}
    <div style="margin-top: 20px;">
      <div v-for="error in errors" class="alert alert-danger" role="alert">
        [[ error ]]
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputTitle" class="form-label">Title</label>
      <input type="text" class="form-control" id="exampleInputTitle" name="title" v-model="title">
    </div>
    <div class="mb-3">
      <label for="exampleInputDescription" class="form-label">Description</label>
       <textarea rows="4" class="form-control" id="exampleInputDescription" name="description" v-model="description"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
  <script>
    const app = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
      data: {
        errors: [],
        title: '',
        description: ''
      },
      methods: {
        checkForm: function (e) {
          if (this.title.length > 4 && this.title.length < 25 &&
          this.description.length > 7 && this.description.length < 255) {
            return true;
          }
          this.errors = [];
          if (this.title.length <= 4) {
            this.errors.push('Title length must be greater than 4.');
          } else {
            if (this.title.length >= 25) {
              this.errors.push('Title length must be less than 25.');
            }
          }
          if (this.description.length <= 7) {
            this.errors.push('Description length must be greater than 7.');
          } else {
            if (this.description.length >= 255) {
              this.errors.push('Description length must be less than 255.');
            }
          }
          e.preventDefault();
        }
      }
    })
  </script>
{% endblock %}
