{% extends 'app.html' %}
{% block content %}
  <h1 class="gradient-text title-with-padding">Create voting</h1>
  <form id="app" ref="form" @submit="checkForm" method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-3">
        <label class="form-label">{{ field.label }}</label>
        {{ field }}
      </div>
    {% endfor %}

    {% if form.errors %}
      {{ form.errors }}
    {% endif %}
    <button type="submit" class="btn btn-primary gradient-background" style="border: none;">Создать</button>
  </form>
{% endblock %}
