{% extends 'app.html' %}
{% block content %}
  <h1>Create voting</h1>
  <form id="app" ref="form" @submit="checkForm" method="post">
    {% csrf_token %}
    <div style="margin-top: 20px;">
      <div v-for="error in errors" class="alert alert-danger" role="alert">
        [[ error ]]
      </div>
    </div>

    {% for field in form %}
      <div class="mb-3">
        <label class="form-label">{{ field.label }}</label>
        {{ field }}
      </div>
    {% endfor %}

    {% if form.errors %}
      {{ form.errors }}
    {% endif %}
    <button type="submit" class="btn btn-primary">Создать</button>
  </form>
{% endblock %}
