{% extends 'app.html' %}
{% block content %}
  <div>
    {% if request.user.is_authenticated %}
      <h1>Welcome to the club, {{ request.user }}!</h1>
    {% else %}
      <h1>Welcome to the club, buddy!</h1>
    {% endif %}
    {% if messages %}
      <div style="margin-top: 20px;">
        {% for message in messages %}
          <div class="alert alert-{{ message.alert }}" role="alert">
            {{ message.message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock %}
