{% extends 'app.html' %}
{% block content %}
  <h1>Login</h1>
  <form id="app" ref="form" @submit="checkForm" method="post" action="">
    {% csrf_token %}
    <div style="margin-top: 20px;">
      {% if auth_success == False %}
        <div class="alert alert-danger" role="alert">
          Invalid username and password pair.
        </div>
      {% endif %}
      <div v-for="error in errors" class="alert alert-danger" role="alert">
        [[ error ]]
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputUsername" class="form-label">Username</label>
      <input type="text" class="form-control" id="exampleInputUsername" name="username" v-model="username">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword" name="password" v-model="password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <script>
    const app = new Vue({
      el: '#app',
      delimiters: ['[[', ']]'],
      data: {
        errors: [],
        username: null,
        password: null
      },
      methods: {
        checkForm: function (e) {
          if (this.username && this.password) {
            return true;
          }
          this.errors = [];
          if (!this.username) {
            this.errors.push('Username required.');
          }
          if (!this.password) {
            this.errors.push('Password required.');
          }
          e.preventDefault();
        }
      }
    })
  </script>
{% endblock %}
