{% extends 'app.html' %}
{% block content %}
  <h1>Own vote</h1>
  {%if active_votings %}
  <table border="1px" class="table table-striped">
      <tr>
        <td>ИД</td>
        <td>Афтар</td>
        <td>Название</td>
        <td>Дата публикации</td>
        <td>Дата окончания</td>
        <td>Статус</td>
      </tr>
    {% for voting in active_votings %}
      <tr>
        <td>{{ voting.id }}</td>
        <td>{{ voting.author }}</td>
        <td>{{ voting.title }}</td>
        <td>{{ voting.publish_at }}</td>
        <td>{{ voting.finish_at }}</td>
        <td>{% if voting.closed == True%} Закрыт {%else%} Открыт {%endif%}</td>
      </tr>
    {% endfor %}
    </table>
      <hr>
    {%endif%}

{%if closed_votings %}
<table border="1px" class="table table-striped">
      <tr>
        <td>ИД</td>
        <td>Афтар</td>
        <td>Название</td>
        <td>Дата публикации</td>
        <td>Дата окончания</td>
        <td>Статус</td>
      </tr>
    {% for voting in closed_votings %}
      <tr>
        <td>{{ voting.id }}</td>
        <td>{{ voting.author }}</td>
        <td>{{ voting.title }}</td>
        <td>{{ voting.publish_at }}</td>
        <td>{{ voting.finish_at }}</td>
        <td>{% if voting.closed == True%} Закрыт {%else%} Открыт {%endif%}</td>
      </tr>
    {% endfor %}
    </table>
{%endif%}
{% endblock %}

