{% extends 'app.html' %}
{% load static %}
{% block content %}
    <div class="mx-auto" style="width: 591px; padding: 24px; background-color: black;">
      {% if not cur_var %}
<h1 class="text-center text-primary gradient-text" style="margin-bottom: 32px; font-size: 48px;">{{ vote.title }}</h1>
      <p class="text-center" style="margin-bottom: 32px; font-size: 20px; color: white;">
        {{ vote.description }}
      </p>
        {% for obj in variants %}
          <a class="btn btn-primary w-100 gradient-background"
             style="margin-bottom: 16px; font-size: 20px;"
             href=".?vid={{obj.0.id}}">
            {{ obj.0.description }}
          </a>
        {% endfor %}
      {% else %}
        {% include 'components/vote_left_already.html' %}
      {% endif %}
    </div>
{% endblock %}
