{% extends 'app.html' %}
{% load static %}
{% block content %}
    <div class="mx-auto" style="width: 591px; padding: 24px; background-color: black;">
      <h1 class="text-center text-primary" style="margin-bottom: 32px; font-size: 48px;">Название</h1>

      <p class="text-center" style="margin-bottom: 32px; font-size: 20px; color: white;">Повседневная практика показывает, что новая модель организационной деятельности представляет собой интересный эксперимент проверки модели развития.</p>

      <button type="button" class="btn btn-primary w-100" style="margin-bottom: 16px; font-size: 20px;">Вариант 1</button>
      <button type="button" class="btn btn-primary w-100" style="margin-bottom: 32px; font-size: 20px;">Вариант 2</button>

      <div class="row">
        <div class="col">
          <div class="row justify-content-start m-0">
            <img class="col-auto p-0" src="{% static 'svg/thumbs-up.svg' %}" width="24" height="24" style="margin-right: 20px; cursor: pointer;">
            <img class="col-auto p-0" src="{% static 'svg/thumbs-down.svg' %}" width="24" height="24" style="cursor: pointer;">
          </div>
        </div>
        <div class="col">
          <div class="row justify-content-center m-0">
            <img class="col-auto p-0" src="{% static 'svg/globe.svg' %}" width="24" height="24" style="margin-right: 20px; cursor: pointer;">
            <img class="col-auto p-0" src="{% static 'svg/trash.svg' %}" width="24" height="24" style="cursor: pointer;">
          </div>
        </div>
        <div class="col">
          <div class="row justify-content-end m-0">
            <img class="col-auto p-0" src="{% static 'svg/flag.svg' %}" width="24" height="24" style="cursor: pointer;">
          </div>
        </div>
      </div>
    </div>
{% endblock %}
