{% extends 'app.html' %}
{% block content %}
  <h1 class="gradient-text">Global vote</h1>
  <table border="1px" class="table table-striped table-dark table-bordered">
    <tr>
      <th>ИД</th>
      <th>Афтар</th>
      <th>Название</th>
      <th>Дата публикации</th>
      <th>Дата окончания</th>
      <th>Статус</th>
    </tr>
    {% for voting in votings %}
      <tr>
        <td>{{ voting.id }}</td>
        <td>{{ voting.author }}</td>
        <td>{{ voting.title }}</td>
        <td>{{ voting.publish_at }}</td>
        <td>{{ voting.finish_at }}</td>

        <td>{% if voting.closed == True%} Закрыт {%else%} Открыт {%endif%}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
