{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">djongo_server</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for item in navbar %}
          <li class="nav-item">
            <a class="nav-link" href="{% url item.url %}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
