{% load static %}
{% load menu_tags %}

<div class="header__wrapper">
  <header class="header">
    <nav>
      <div class="container header__container">
        <div class="navbar">
          <div class="logo"></div>
          <ul class="menu">
          {%  get_menu request as navbar %}
            {% for item in navbar %}
              {% if item.nested_fields %}
                 <li class="menu__item dropdown">
                   <button class="dropbtn">{{ item.label }}</button>
                   <div class="dropdown-content" style="left:0;">
                     {% for nested in item.nested_fields %}
                       {%  off_current_url request nested.url as off_status %}
                       <a href="{% url nested.url %}" class="dropdown__link {{ off_status }}">{{ nested.label }}</a>
                     {% endfor %}
                   </div>
                 </li>
              {% else %}
                 <li class="menu__item">
                 {% off_current_url request item.url as off_status %}
                  <a href="{% url item.url %}" class="menu__item-link {{ off_status }}">{{ item.label }}</a>
                </li>
             {% endif %}
            {% endfor %}
          </ul>
          <div class="burger">
            <span></span>
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>
