.vote-card {
  border-width: 2px;
  border-color: #2e2e2e;
  background-color: black;
}

.vote-card-with-margin {
  margin-bottom: 38px;
}

.vote-title {
  font-size: 28px;
}

.vote-description {
  margin-top: 20px;
  font-size: 16px;
}

.vote-label {
  font-size: 16px;
  color: #bfbfbf;
}

.vote-submit-wrapper {
  text-align: right;
  margin-top: 19px;
  font-size: 16px;
}
