{% extends 'base/base.html' %}
{% block content %}
  <div>
    <h1>Server</h1>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <span class="badge bg-secondary">POST</span>
            <p>add_post</p>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Add a new post to the database. At the moment, only one parameter is being passed:</p>
            <ul class="list">
              <li>title</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
