{% extends 'base/base.html' %}

{% block content %}
    <div>
        <h1>Wellcome to the club body!</h1>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Полезная информация</h4>
            <p>Моллюски — двусторонне-симметричные мягкотелые животные (у брюхоногих тело асимметричное), имеющие раковину, мантию, мантийную полость, незамкнутую кровеносную систему.</p>
            <hr>
            <p class="mb-0">В популярной культуре моллюскам класса головоногих отведена роль морских чудовищ.</p>
        </div>
    </div>
{% endblock %}
