{% extends "base.html" %}
{%  load static %}

{% block content %}
  <section class="section__hero">
    <img src="{% static 'img/hero_img.svg' %}" alt="hero__img" class="hero__img">
    <div class="container">
      <div class="hero">
        <div class="hero__item">
          <h1 class="hero__item-title">Мы делаем опросники проще!</h1>
          <h2 class="hero__item-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Something i don't know.</h2>
          <div class="hero__item-buttons">
            <a href="" class="btn hero__btn">Do something</a>
            <a href="" class="btn hero__btn hero__btn_second">See something</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
