@import 'reset/_normalize.scss';
@import 'reset/_reset.scss';
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);


body {
  font-family: Montserrat;
}

// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerPadding + px;
}

.btn {
  background-color: $redColor;
  padding: 14px 32px;
  color: $whiteColor;
  border-radius: 6px;
  &:hover {
    background: #d30834;
    transition: .3s all ease;
  }
}