.header {
  border-bottom: 1px solid $greyColor;
}

.logo {
  max-width: 250px;
  height: 60px;
  width: 60px;
  margin-right: auto;
  background-image: url(../img/header__logo.png);
  background-position: center center;
  background-size: cover;
}

.navbar {
  display: flex;
  width: 100%;
  align-items: center;
}


.menu {
  display: flex;
  justify-self: center;
  align-items: center;
		&__item {
      margin-left: 60px;
		}

		&__item-link {
      font-size: 18px;
      line-height: 24px;
      color: #646a89;
      &:hover {
        color: $redColor;
        transition: color .3s ease;
      }
		}

    &__btn {
      color: $whiteColor;
    }
}

.dropdown__link {  
  color: $blueColor;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  &:hover {
    background-color: rgb(243, 216, 216);
    border-radius: 6px;
    color: $redColor;
    transition: .3s all ease;
  }
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: $blueColor;
  padding: 14px 32px;
  padding-left: 0;
  padding-right: 20px;
  border-radius: 6px;
  background-image: url(../img/list.svg);
  background-repeat: no-repeat;
  background-position: right center;
  transition: .3s all ease;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 140px;
  z-index: 1;
  border-radius: 6px;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
