.section {
  &__hero {
    padding: 129px 0 210px 0;
    position: relative;
  }
}
.hero {
  display: flex;
  &__item {
    flex: 0 1 50%;
  }

  &__img {
    position: absolute;
    bottom: -5%;
    right: 0;
  }

  &__item-title {
    font-weight: bold;
    font-size: 48px;
    line-height: 62px;
    color: $greyColor;
  }

  &__item-text {
    font-size: 22px;
    line-height: 33px;
    color: $blueColor;
    margin-top: 32px;
  }

  &__item-buttons {
    margin-top: 40px;
  }

  &__btn {
    line-height: 24px;
    font-weight: 600;
    &:first-child {
      margin-right: 16px;
    }

    &_second {
      background-color: transparent;
      color: $redColor;
      border: 1px solid $redColor;
      &:hover {
        background-color: $redColor;
        color: white;
      }
    }
  }
}