<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="icon" href="{% static 'img/header__logo.png' %}">
  <title> {{title}}</title>
</head>
<body>
  <div class="preloader">
    <div class="preloader__row">
      <div class="preloader__item"></div>
      <div class="preloader__item"></div>
    </div>
  </div>
  <!-- header -->
  {% include 'main/_header.html' %}
  <!-- header-end -->
  {% block content %}
  {% endblock content %}
  <!-- footer -->
  {% include 'main/_footer.html' %}
  <script src="{% static 'js/preloader.js' %}"></script>
</body>
</html>
