{% block login %}
  <form id="app" ref="form" @submit="checkForm" method="post">
    {% csrf_token %}

    <div style="margin-top: 20px;">
     {% if error %}
      <div v-for="error in errors" class="alert alert-danger" role="alert">
        [[ error ]]
      </div>
      {% endif %}
    </div>

    {% for field in form %}
      <div class="mb-3">
        {{ field }}
      </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary gradient-background" style="border: none;">Войти</button>
    <p class="grey-text" style="float: right; margin-top: 6px;">Забыли пароль?</p>
  </form>
{% endblock %}
